<configuration>

    <springProperty scope="context"
                    name="appName"
                    source="spring.application.name"/>

    <appender name="JSON"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <threadName/>

                <pattern>
                    <pattern>
                        {
                        "service": "${appName}",
                        "traceId": "%X{traceId}",
                        "spanId": "%X{spanId}",
                        "requestId": "%X{requestId}",
                        "batchId": "%X{batchId}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>

                <stackTrace/>
            </providers>

        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

</configuration>